/* WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB  WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB WEB */
/* Global */
:root {
  /* Color */
  --color-pure-white: rgba(255, 255, 255, 1);
  --color-white: rgba(246, 246, 246, 1);
  --color-black: rgba(17, 17, 17, 1);
  --color-dark-grey: rgba(143, 143, 143, 1);
  --color-grey: rgba(196, 196, 196, 1);
  --color-light-grey: rgba(232, 232, 232, 1);
  --color-light-green: rgba(58, 95, 98, 1);
  --color-green: rgba(14, 53, 56, 1);
  --color-dark-green: rgba(0, 16, 18, 1);
  --color-light-red: rgba(255, 84, 50, 1);
  --color-red: rgba(226, 0, 0, 1);
  --color-dark-red: rgba(167, 0, 0, 1);

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */

  /* Animation duration */
  --animation-duration: 200ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* hidden */
.hidden {
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
}

/* LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT  */
/* all, left, right */

div#all {
  display: flex;
  justify-content: space-between;
}

div#left {
  flex-basis: 90%;
}

div#right {
  background-color: var(--color-grey);
  flex-basis: 10%;
  box-sizing: border-box;
}
/* Logo */
.logo {
  height: 100px;
  padding: 16px;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-medium);
}

.logo img {
  width: 50px;
  position: relative;
  top: 15px;
  left: 0px;
}

/* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR  */
/* Navbar */

#navbar {
  padding-top: 50px;
  position: sticky;
  left: 0px;
  top: 0px;
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.navbar__menu__item {
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  margin: 4px 0px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  left: 0px;
  top: 0px;
  background-color: var(--color-dark-red);
  border-bottom: 1px solid var(--color-black);
  border-right: 1px solid var(--color-dark-red);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
  text-shadow: -1px -1px 1px var(--color-red);
}

.navbar__menu__item.selected {
  background-color: var(--color-red);
  color: var(--color-dark-green);
  box-shadow: 0px 1px 2px var(--color-green);
  text-shadow: -1px -1px 1px var(--color-light-red);
}
.navbar__menu__item.selected::before {
  content: "";
  display: block;
  width: 120px;
  height: 50px;
  border-bottom: 1px solid var(--color-grey);
  position: absolute;
  top: 0px;
  left: -120px;
  box-sizing: border-box;
  background: var(--color-light-grey);
  opacity: 0.5;
}

.navbar__menu__item:hover {
  background-color: var(--color-red);
  color: var(--color-dark-green);
}

/* Toggle */
.navbar__toggle-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  color: var(--color-grey);
  display: none;
}
/* SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON  */
/* Section Common */
.section {
  text-align: center;
  padding: 50px 100px;
  margin: 100px auto;
}

.section__container {
  max-width: 1200px;
  height: 100%;
  margin: 0px auto;
}
/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */
/* About */
#about__wrap {
  /* background-color: var(--color-red); */
}
#about {
  /* background-color: var(--color-light-red); */
  position: relative;
  left: 0px;
  top: 0px;
}
.about__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -125px;
}
.about__description {
  padding-top: 250px;
}

.about__description h1,
h2 {
  color: var(--color-green);
}

#myEmail {
  position: relative;
  top: 0px;
  left: 0px;
}
#myEmail:hover {
  color: var(--color-dark-green);
  text-shadow: 1px 1px 0px var(--color-light-grey);
}

#myEmail:hover:after {
  content: '"copy?"';
  font-size: var(--font-micro);
  color: var(--color-dark-grey);
  padding: 2px 5px 3px 5px;
  border-radius: 40px;
  position: absolute;
  right: -25px;
  top: -25px;
  text-shadow: none;
}
#myEmail:hover:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-dark-grey);
  position: absolute;
  left: 0px;
  bottom: -5px;
}

.about__cv {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  background-color: var(--color-green);
  border-radius: 50px;
  margin: 24px;
  padding: 8px 60px;
}

.about__cv:hover {
  background-color: var(--color-dark-green);
  box-shadow: 2px 2px 0px var(--color-grey);
}
/* PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT  */
/* Projects */
#projects__wrap {
  background: var(--color-white);
}
#projects {
  /* background-color: var(--color-green); */
}

.projects__categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.categories__btn {
  border: 1px solid var(--color-light-green);
  background: var(--color-pure-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  padding: 8px 30px;
  margin: 3px;
  border-radius: 3px;
  position: relative;
  left: 0px;
  top: 0px;
}

.categories__btn.selected,
.categories__btn:hover {
  color: var(--color-white);
  background-color: var(--color-dark-green);
}

.categories__cnt {
  color: var(--color-white);
  font-size: var(--font-micro);
  position: absolute;
  right: 10px;
  top: 5px;
}
.categories__btn.selected .categories__cnt,
.categories__btn:hover .categories__cnt {
  color: var(--color-light-green);
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.projects__container.anim-out {
  opacity: 0;
  transform: scale(0.97) translateY(3px);
}

.content {
  width: 300px;
  height: 300px;
  margin: 1px;
  position: relative;
  left: 0px;
  top: 0px;
}

.content.invisible {
  display: none;
}

.content__description {
  position: absolute;
  left: 0px;
  top: 0px;
  color: var(--color-white);
  background-color: var(--color-dark-red);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(5px);
  transition: all var(--animation-duration) ease-in;
}

.content__description h3::after {
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  background-color: var(--color-dark-grey);
  position: relative;
  left: 50%;
  margin-left: -100px;
  margin-top: 15px;
  border-radius: 50%;
}

.content:hover .content__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.content__thumbnail {
  width: 100%;
  height: 100%;
}
#content__thumbnail--BeingCity {
  background: center/cover no-repeat url("imgs/projects/beingCity_th.jpg");
}
#content__thumbnail--FashionForHelp {
  background: center/cover no-repeat url("imgs/projects/FashionForHelp_th.jpg");
}
#content__thumbnail--ARTide {
  background: center/cover no-repeat url("imgs/projects/ARTide_th.jpg");
}
#content__thumbnail--VRTide {
  background: center/cover no-repeat url("imgs/projects/VRTide_th.jpg");
}
#content__thumbnail--Mesurer {
  background: center/cover no-repeat url("imgs/projects/Mesurer_th.jpg");
}
#content__thumbnail--Gods2 {
  background: center/cover no-repeat url("imgs/projects/Gods2_th.jpg");
}
#content__thumbnail--1987 {
  background: center/cover no-repeat url("imgs/projects/y1987_th.jpg");
}
#content__thumbnail--Gods1 {
  background: center/cover no-repeat url("imgs/projects/Gods1_th.jpg");
}
#content__thumbnail--WePlay {
  background: center/cover no-repeat url("imgs/projects/VJWePlay_th.jpg");
}
#content__thumbnail--Moving {
  background: center/cover no-repeat url("imgs/projects/MovingPaperAni_th.jpg");
}
#content__thumbnail--DearYoungMe {
  background: center/cover no-repeat url("imgs/projects/DearYoungMe_th.jpg");
}
#content__thumbnail--WalkingOnTheSpot {
  background: center/cover no-repeat
    url("imgs/projects/WalkingOnTheSpot_th.jpg");
}
#content__thumbnail--PackageForMe {
  background: center/cover no-repeat url("imgs/projects/PackageForMe_th.jpg");
}
#content__thumbnail--1to1Bar {
  background: center/cover no-repeat url("imgs/projects/1to1Bar_th.jpg");
}
#content__thumbnail--ClosetInsideTheCloset {
  background: center/cover no-repeat
    url("imgs/projects/ClosetInsideTheCloset_th.jpg");
}
/* project-modal */
.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal__overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.modal__content {
  position: relative;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 10px;
  padding: 20px 50px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 80%;
  height: 90%;
  overflow: auto;
}
.closed {
  display: none;
}
.modal__btn {
  width: 80px;
  height: 70px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 20px;
  font-size: 40px;
  color: var(--color-grey);
}
.modal__btn:hover {
  color: var(--color-dark-grey);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-green);
}
::-webkit-scrollbar-track {
  background-color: var(--color-dark-grey);
  box-shadow: inset 0px 0px 5px var(--color-grey);
}
.modal__mainImg {
  width: 100%;
}
.content__explanation {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 20px 0px;
}
.content__info {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-weight: weight-regular;
  line-height: 30px;
  text-align: right;
  padding-right: 30px;
  border-right: solid 2px var(--color-grey);
  color: var(--color-grey);
}
.content__info1 {
  font-weight: var(--weight-semi-bold);
  text-align: left;
  color: var(--color-dark-grey);
}
.content__info2 a {
  color: var(--color-grey);
  text-decoration: underline;
}
.content__txt {
  margin: 20px;
  margin-right: 0px;
  width: auto;
  text-align: justify;
  color: var(--color-dark-grey);
}

/* TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL  TESTIMONIAL  */
/* Testimonial */
#testimonials__wrap {
  /* background: var(--color-green); */
}
#testimonials {
  /* background-color: var(--color-light-green); */
}

.testimonial {
  margin: 40px;
  display: flex;
  margin: 32px 0;
  justify-content: center;
  align-items: center;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  top: 0px;
  left: 0px;
}
.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}
.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}
.testimonial__avatar:nth-child(odd)::after {
  content: "\f0d9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 70px;
  color: var(--color-light-grey);
  position: absolute;
  top: 5px;
  right: -45px;
}
.testimonial__avatar:nth-child(even)::before {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 70px;
  color: var(--color-light-grey);
  position: absolute;
  top: 5px;
  left: -45px;
}
#testimonial_A {
  background: center/cover no-repeat url("imgs/testimonials/personA.jpg");
}
#testimonial_B {
  background: center/cover no-repeat url("imgs/testimonials/personB.jpg");
}

.testimonial__speech-bubble {
  width: 70%;
  padding: 18px;
  background: var(--color-light-grey);
  border-radius: 8px;
}
.testimonial__speech-bubble p {
  color: var(--color-light-green);
  font-size: var(--font-small);
}
.testimonial__speech-bubble a {
  color: var(--color-dark-green);
  font-weight: var(--weight-semi-bold);
}
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */
/* Footer */
#bottom {
  background-color: var(--color-green);
  text-align: center;
  padding: 30px 0px;
  line-height: 100%;
}

.footer__links a,
.contact__rights {
  color: var(--color-light-grey);
}

.contact__rights {
  font-size: var(--font-micro);
  margin-top: 10px;
}

.footer__links i {
  font-size: 20px;
  padding: 2px;
  transition: all var(--animation-duration) ease-in;
}

.footer__links i:hover {
  transform: scale(1.2);
  color: var(--color-light-red);
}
/* REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT REDIRECT  */
/* redirect*/

#redirect {
  width: 100%;
  height: 500px;
  position: fixed;
  left: 0px;
  top: 60%;
  background-color: var(--color-dark-grey);
  box-sizing: border-box;
}

.redirect__btn {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  background-color: var(--color-green);
  border-radius: 50px;
  margin: 24px;
  padding: 8px 60px;
}

.redirect__btn:hover {
  background-color: var(--color-dark-green);
  box-shadow: 2px 2px 0px var(--color-white);
}

/* INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO  */
/* intro */
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#intro {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: var(--color-green);
  box-sizing: border-box;
  animation: fade-out 7.1s linear 1; /*//logo_anim_length :7s*/
}

.intro__video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.intro__skip {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  padding: 0 40px;
  border-radius: 50px;
  background-color: var(--color-green);
  border: solid 3px var(--color-white);
  opacity: 0.4;
}

.intro__skip h1 {
  color: var(--color-white);
}

.intro--off {
  display: none;
}

/* JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP  */
/* Jump Scroll*/
#jump {
  width: 50px;
  height: 1%;
  position: fixed;
  right: 5%;
  margin-right: -25px;
  bottom: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
  pointer-events: none;
}
#jump.jump--appear {
  opacity: 1;
  height: 40%;
  pointer-events: auto;
}

.jump__dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 1px var(--color-green);
  color: var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--animation-duration) ease-in-out;
}

.jump__dot i {
  opacity: 0;
}

.jump__line {
  width: 2px;
  height: 50%;
  background: var(--color-dark-grey);
}

.jump__dot:hover {
  /* opacity: 1; */
  background-color: var(--color-white);
  border: solid 2px var(--color-green);
  transform: scale(1.3);
}

.jump__dot:hover i {
  opacity: 1;
}
/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE  */
/* For below 1130px screen width */
@media screen and (max-width: 1130px) {
  .content__explanation {
    flex-wrap: wrap;
  }
  .content__info {
    width: 100%;
    border: none;
    padding-right: 0px;
  }
  .content__txt {
    margin-left: 0px;
    border-top: solid 2px var(--color-grey);
    padding-top: 20px;
  }
}
/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  /* LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT LAYOUT  */
  /* all, left, right */
  div#all {
    flex-direction: column-reverse;
  }
  div#left {
    /* background: yellow; */
  }
  div#right {
    background: var(--color-dark-green);
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 1;
  }
  /* Logo */
  .logo {
    position: fixed;
    left: 16px;
    top: 16px;
    z-index: 2;
  }
  .logo a {
    position: absolute;
    left: 0px;
    top: -23px;
  }
  .logo a img {
    width: 30px;
    height: 30px;
  }
  /* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR  */
  /* Navbar */
  #navbar {
    position: static;
    padding-top: 50px;
  }

  .navbar__menu {
    margin: 0px;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }

  .navbar__menu__item {
    width: 100%;
    margin: 0px;
    background-color: var(--color-grey);
    border: none;
    font-weight: var(--weight-semi-bold);
    text-shadow: none;
  }

  .navbar__menu__item.selected {
    background-color: var(--color-dark-grey);
    box-shadow: 0px 1px 2px var(--color-green);
    text-shadow: none;
  }

  .navbar__menu__item.selected::before {
    display: none;
  }

  .navbar__menu__item:hover {
    background-color: var(--color-green);
    color: var(--color-light-grey);
  }

  .navbar__toggle-btn {
    display: block;
  }

  /* SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON SECTION COMMON  */
  /* Section Common */
  .section {
    padding: 40px 35px;
    margin: 30px auto;
  }
  /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */
  /* About */

  /* PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT  */
  /* Projects */
  .content {
    flex-grow: 1;
  }
  .categories__btn {
    font-size: var(--font-small);
    width: 45%;
  }
  .categories__cnt {
    font-size: 8px;
    right: 4px;
    top: 3px;
  }
  .modal__content {
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .modal__btn {
    font-size: 20px;
    width: 35px;
    height: 35px;
    margin: 10px;
  }
  /* TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL  TESTIMONIAL  */
  /* Testimonials */
  .testimonial {
    flex-direction: column;
  }
  .testimonial__avatar {
    width: 60px;
    height: 60px;
  }
  .testimonial__avatar:nth-child(odd) {
    margin-right: 50%;
  }
  .testimonial__avatar:nth-child(even) {
    margin-left: 0px;
    margin-right: 50%;
  }
  .testimonial__avatar:nth-child(odd)::after,
  .testimonial__avatar:nth-child(even)::before {
    content: "\f0d8";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: var(--color-light-grey);
    position: absolute;
    left: 0px;
    top: 70px;
    right: 0px;
  }

  .testimonial__speech-bubble {
    order: 1;
    margin-top: 30px;
  }
  /* INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO  */
  /* intro */
  .intro__skip {
    padding: 0 30px;
  }
  .intro__skip h1 {
    font-size: var(--font-regular);
    margin: 7px 0;
  }
  .testimonial__speech-bubble::before {
  }
  /* JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP JUMP  */
  /* Jump */
  #jump {
    margin-right: -25px;
  }
}
